<div class="nested-fields mb-2">
  <%= f.hidden_field :_destroy %>
<!--  <h1>Sprint</h1>-->
  <div>
    <%#= f.text_field :name %>
    <%= f.date_field :start_date %>
    <%= f.date_field :end_date %>
  </div>
<!--  <div>-->
    <%#= link_to "Remove", '#', class: "remove_fields btn btn-secondary btn-sm" %>
<!--  </div>-->
</div>
