<!-- app/views/semesters/classlist.html.erb -->
<h1>Classlist for <%= @semester.name_for_select %></h1>

<% if @students_info.any? %>
  <ul>
    <% @students_info.each do |student| %>
      <li><%= "#{student[:name]} - #{student[:role]}" %></li>
    <% end %>
  </ul>
<% else %>
  <p>No students found for this semester.</p>
<% end %>
