<!--<head>-->
    <%#= stylesheet_link_tag "new.css" %>
<!--    <style>-->
<!--        label {-->
<!--            color: white-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<br>-->
<!--<div style = "margin: auto; width: 60%; background-color: #0D3182; padding: 50px; text-align: center;">-->
<!--<h1 style = "color: white">Change GitHub API Key </h1>-->
<!--<br>-->
<%#= form_with local:true, html: { multipart: true } do |form| %>
<!--    <div class = "field">-->
<!--        <label>Enter a new API key:</label>-->
        <%#= form.text_field :api_key, required: 'required'%>
<!--    </div>-->
<!--    <br>-->
<!--    <div class = "actions">-->
        <%#= form.submit 'Confirm', class: 'btn btn-primary' %>
        <%#= link_to "Back", semester_path(@semester), class: "btn btn-secondary"%>
<!--    </div>-->
<%# end %>
<!--</div>-->
